In [8]:
#다중 for loop의 예제 : 구구단


for i in range(2,10) :
    print("       %d 단 " % i)
    for j in range(1,10) :
        print("{0:3d} * {1:3d} = {2:3d}".format(i,j, i*j))
    print ("")

       2 단
  2 *   1 =   2
  2 *   2 =   4
  2 *   3 =   6
  2 *   4 =   8
  2 *   5 =  10
  2 *   6 =  12
  2 *   7 =  14
  2 *   8 =  16
  2 *   9 =  18

       3 단
  3 *   1 =   3
  3 *   2 =   6
  3 *   3 =   9
  3 *   4 =  12
  3 *   5 =  15
  3 *   6 =  18
  3 *   7 =  21
  3 *   8 =  24
  3 *   9 =  27

       4 단
  4 *   1 =   4
  4 *   2 =   8
  4 *   3 =  12
  4 *   4 =  16
  4 *   5 =  20
  4 *   6 =  24
  4 *   7 =  28
  4 *   8 =  32
  4 *   9 =  36

       5 단
  5 *   1 =   5
  5 *   2 =  10
  5 *   3 =  15
  5 *   4 =  20
  5 *   5 =  25
  5 *   6 =  30
  5 *   7 =  35
  5 *   8 =  40
  5 *   9 =  45

       6 단
  6 *   1 =   6
  6 *   2 =  12
  6 *   3 =  18
  6 *   4 =  24
  6 *   5 =  30
  6 *   6 =  36
  6 *   7 =  42
  6 *   8 =  48
  6 *   9 =  54

       7 단
  7 *   1 =   7
  7 *   2 =  14
  7 *   3 =  21
  7 *   4 =  28
  7 *   5 =  35
  7 *   6 =  42
  7 *   7 =  49
  7 *   8 =  56
  7 *   9 =  63

       8 단
  8 *   1 =   8
  8 *   2 =  16
  8 *   3 =  24
  8 *   4 =  32
  8 *   5 =  40
  8 *   6 =  48
  8 *   7 =  56
  8 *   8 =  64
  8 *   9 =  72

       9 단
  9 *   1 =   9
  9 *   2 =  18
  9 *   3 =  27
  9 *   4 =  36
  9 *   5 =  45
  9 *   6 =  54
  9 *   7 =  63
  9 *   8 =  72
  9 *   9 =  81

In [17]:
#다중 for loop의 예제 : 구구단
for i in range(2, 10, 2) :
    print("       %d 단        %d단" %(i, i+1))
    for j in range(1,10) :
        print("{0:2d} * {1:2d} = {2:2d}  {3:2d} * {4:2d} = {5:2d}".format(i,j, i*j, i+1, j, (i+1)*j))
    print ("")

       2 단        3단
 2 *  1 =  2   3 *  1 =  3
 2 *  2 =  4   3 *  2 =  6
 2 *  3 =  6   3 *  3 =  9
 2 *  4 =  8   3 *  4 = 12
 2 *  5 = 10   3 *  5 = 15
 2 *  6 = 12   3 *  6 = 18
 2 *  7 = 14   3 *  7 = 21
 2 *  8 = 16   3 *  8 = 24
 2 *  9 = 18   3 *  9 = 27

       4 단        5단
 4 *  1 =  4   5 *  1 =  5
 4 *  2 =  8   5 *  2 = 10
 4 *  3 = 12   5 *  3 = 15
 4 *  4 = 16   5 *  4 = 20
 4 *  5 = 20   5 *  5 = 25
 4 *  6 = 24   5 *  6 = 30
 4 *  7 = 28   5 *  7 = 35
 4 *  8 = 32   5 *  8 = 40
 4 *  9 = 36   5 *  9 = 45

       6 단        7단
 6 *  1 =  6   7 *  1 =  7
 6 *  2 = 12   7 *  2 = 14
 6 *  3 = 18   7 *  3 = 21
 6 *  4 = 24   7 *  4 = 28
 6 *  5 = 30   7 *  5 = 35
 6 *  6 = 36   7 *  6 = 42
 6 *  7 = 42   7 *  7 = 49
 6 *  8 = 48   7 *  8 = 56
 6 *  9 = 54   7 *  9 = 63

       8 단        9단
 8 *  1 =  8   9 *  1 =  9
 8 *  2 = 16   9 *  2 = 18
 8 *  3 = 24   9 *  3 = 27
 8 *  4 = 32   9 *  4 = 36
 8 *  5 = 40   9 *  5 = 45
 8 *  6 = 48   9 *  6 = 54
 8 *  7 = 56   9 *  7 = 63
 8 *  8 = 64   9 *  8 = 72
 8 *  9 = 72   9 *  9 = 81

In [9]:
sum, i = 0, 0
for i in range(1,101):
    if i % 3 == 0:
        continue
    sum += i
print("1~100의 합계(3의 배수 제외) : %d" % sum)

1~100의 합계(3의 배수 제외) : 3367

In [18]:
# 리스트의 생성1. []사용 
lst_a = [1, 2,3]
print(lst_a)
type(lst_a)

[1, 2, 3]

list

In [19]:
#리스트 생성자2. list()
lst_b = list(range(4))
print(lst_b)
type(lst_b)

[0, 1, 2, 3]

list

In [20]:
#리스트 생성자2. list()
lst_b = list(range(1,99))
print(lst_b)
type(lst_b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]

list

In [23]:
# 리스트에 여러가지 자료형 동시 저장하기
person = ['홍길동', 19, 181.5, True]
print(person)

['홍길동', 19, 181.5, True]

In [25]:
print(person[3])

True

In [26]:
print(person[-1])

True

In [31]:
print(person[1:]) # 1번부터

[19, 181.5, True]

In [29]:
print(person[0:3]) # 스라이싱 (slicing)

['홍길동', 19, 181.5]

In [30]:
print(person[:3:2]) #2번째를 건너뜀

['홍길동', 181.5]

In [28]:
# 빈 리스트 
lst_a = [];type(lst_a);print(lst_a)

[]

In [38]:
lst_a.append("한국아이티 전문학원")
print(lst_a)
lst_a.append("258-2800")
print(lst_a)

['258-2800', 'koprea', '한국아이치 전문학원', '한국아이티 전문학원', '한국아이티 전문학원', '가나다', 'koprea', '한국아이티 전문학원']
['258-2800', 'koprea', '한국아이치 전문학원', '한국아이티 전문학원', '한국아이티 전문학원', '가나다', 'koprea', '한국아이티 전문학원', '258-2800']

In [34]:
lst_a.pop()
print(lst_a)

['한국아이치 전문학원', '258-2800', '한국아이티 전문학원']

In [37]:
lst_a.append("가나다")
lst_a.append("koprea")

In [36]:
lst_a.sort()
print(lst_a)

['258-2800', 'koprea', '한국아이치 전문학원', '한국아이티 전문학원', '한국아이티 전문학원']

In [40]:
lst_a[1]='ABC' 
print(lst_a)

['258-2800', 'ABC', '한국아이치 전문학원', '한국아이티 전문학원', '한국아이티 전문학원', '가나다', 'koprea', '한국아이티 전문학원', '258-2800']

In [49]:
t1=("이름",'학번',"학과","주소",)
print(t1)

('이름', '학번', '학과', '주소')

In [43]:
type(t1)

tuple

In [44]:
print(t1[-1])

주소

In [45]:
t1[-1] = "전화번호"  #대입하는 것 즉 수정을 허락하지 않는다.....읽기 전용 자료

TypeError: 'tuple' object does not support item assignment

In [47]:
#t1.append = "전화번호"

AttributeError: 'tuple' object has no attribute 'append'

In [56]:
#수정을 하려면 튜플을 list로 변환하여 작업후 ---> 튜플로 다시 전환

t1 = list(t1)
#t1.append("전화번호")
print(t1)

['이름', '학번', '학과', '주소', '전화번호', '전화번호']

In [60]:
#딕셔너리의 생성과 활용
dic1 = {'name':'홍길동', 'phone':'010-1234-5678', 'addr':'청주시 상당구'}
print(dic1)

{'name': '홍길동', 'phone': '010-1234-5678', 'addr': '청주시 상당구'}

In [61]:
print(dic1['name'])

홍길동

In [63]:
print(dic1['name'])
print(dic1['phone'])
print(dic1['addr'])

홍길동
010-1234-5678
청주시 상당구

In [65]:
print(dic1.get('name')) #get(키) ; 키를 이용해서 값을 얻는다.

홍길동

In [68]:
 print(dic1.keys())

dict_keys(['name', 'phone', 'addr'])

In [69]:
 print(dic1.values())

dict_values(['홍길동', '010-1234-5678', '청주시 상당구'])

In [74]:
 print(dic1.items())

dict_items([('name', '성춘향')])

In [75]:
dic1['name'] = '성춘향'
print(lst1)

NameError: name 'lst1' is not defined

In [71]:
 print(dic1.clear())

None

In [72]:
print('name' in dic1)

False

In [73]:
dic1['name'] = '성춘향'
print(lst1)

NameError: name 'lst1' is not defined

In [76]:
#

In [77]:
s1 = set('hello') # 순서의 개념이 없다
print(s1)

{'e', 'l', 'h', 'o'}

In [81]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print(s1 & s2) #s1.intersection(s2)
print(s1 | s2) #s1.union(s2)
print(s1 - s2) #s1.difference(s2)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

In [82]:
s1.intersection(s2)

{4, 5, 6}

In [83]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [84]:
s1.difference(s2)

{1, 2, 3}

s3={1,2,3}
type(s3)

In [86]:
s3={1,2,3} 
type(s3)

set

In [90]:
s3.add(4) # 1개 추가
s3.update([5,6])# 여러개 추가
print(s3)

{1, 2, 3, 4, 5, 6}

In [91]:
s3.remove(4)
print(s3)

{1, 2, 3, 5, 6}